// LAYOUT
.container {
  max-width: 90vw;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.space-around {
  justify-content: space-around;
}

// STYLE
ul {
  list-style: none;
}

.title {
  text-transform: uppercase;
}

.info {
  text-transform: capitalize;
  background: transparent;
}

.weight {
  font-weight: 300;
}
